In [13]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import getpass

password = getpass.getpass()

In [15]:
#1. Establece una conexión entre Python y el database de Sakila

bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [10]:
from sqlalchemy import text
sql_file_path = 'rental_table.sql'

with open(sql_file_path, 'r') as file:
    sql_query = file.read()

with engine.connect() as connection:
    query = text(sql_query)
    result = connection.execute(query)

result

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-\nSELECT * \nFROM rental' at line 2")
[SQL: USE sakila;
-
SELECT *
FROM rental;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [14]:
pd.DataFrame(result)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
16039,16045,2005-08-23 22:25:26,772,14,2005-08-25 23:54:26,1,2006-02-15 21:30:53
16040,16046,2005-08-23 22:26:47,4364,74,2005-08-27 18:02:47,2,2006-02-15 21:30:53
16041,16047,2005-08-23 22:42:48,2088,114,2005-08-25 02:48:48,2,2006-02-15 21:30:53
16042,16048,2005-08-23 22:43:07,2019,103,2005-08-31 21:33:07,1,2006-02-15 21:30:53
16043,16049,2005-08-23 22:50:12,2666,393,2005-08-30 01:01:12,2,2006-02-15 21:30:53

In [12]:
#2. Escribe una función de Python que se llame rentals_month que extraiga datos para un determinado mes y año (como parámetros).
#LA función debe tomar 3 parámetros: engine, month, year

from sqlalchemy import text
sql_file_path = 'rental.sql'

with open(sql_file_path, 'r') as file:
    sql_query = file.read()

sql_commands = [cmd.strip() for cmd in sql_query.split('-') if cmd.strip()]

with engine.connect() as connection:
    for command in sql_commands:
        query = text(command)
        result = connection.execute(query)


result

FileNotFoundError: [Errno 2] No such file or directory: 'rental.sql'